* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    font-size: 30px;
    color: wheat;
    background-color: rgb(43, 147, 226);
    padding: 20px;
}
body{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./daan-evers-tKN1WXrzQ3s-unsplash.jpg);
    color: white;
}

.nav {
    display: flex;
    gap: 10rem;
    margin-left: 700px;
}
a{
    text-decoration: none;
    color: white;
}
.text{
    text-align: center;
    position: relative;
    top: 300px;
    font-size: 25px;
}
button{
    background-color: gray;
    padding: 20px;
    color: white;
    font-size: 25px;
    border-radius: 40px;
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: red;
}
a:hover{
    color: gray;
}