*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    

    color: white;
}
.main1{
    background:linear-gradient(to right,rgba(212,88,50,0.7),rgba(239,168,28,.7)),url(./brianda-maldonado-NrExUpMsUcA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#para1{
    width: 550px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;

}
#heading1{
    font-size: 5rem;
    text-align: center;
}
#btn1{
 position: relative;
 left: 12rem;
 top: 20px;
 padding: 10px;
 background: transparent;
 border-color: white;
 color: white;
 font-size: 16px;   
}
nav{
    padding: 20px;
    color: gray;
    display: flex;
    background-color: white;
    
}
.anchor{
display: flex;
gap: 30px;   

}

a{
    text-decoration: none;
    color: gray;
    position: relative;
    left: 30rem;
}
a:hover{
    color: rgb(104, 11, 11);
}
.head2:hover{
    color: rgb(100, 14, 14);
    cursor: pointer;
}

 /* body{
    background-color: rgb(170, 214, 228);
    width: 100%;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
    
    /* background-image: url(../assignment2/ebb263f55b1844c19674cbf45dae4748.jpg); */

/* .main{
    background-color: rgb(70, 130, 180);
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 15px 15px 25px gray;
}
.main1{
    background-color: rgb(42, 78, 108);
    width: 400px;
    height: 250px;
    position: relative;
    left: 50px;
} */
/* form:hover{
    transform: scale(1.2);
    transition: 3s;
} */
